@import '../../vars';

.answer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 1rem;
  color: $answer-color;
  line-height: $answer-label-font-size;
  margin: 0 0 0.3125rem 0;
  cursor: pointer;
  background: $answer-background-color;
  width: 100%;
  padding: 0;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    margin-right: 10px;
  }
}

.answer-text {
  display: block;
  line-height: $answer-height;
  flex: auto;
  text-align: left;
  padding-left: 1.5rem;
}

.answer-label {
  display: block;
  transition: background-color $transition-duration, color $transition-duration;
  background-color: $answer-label-background-color;
  text-align: center;
  text-transform: uppercase;
  width: $answer-height;
  line-height: $answer-height;
  font-size: $answer-label-font-size;
}

.is-disabled {
  color: $answer-disabled-color;
  cursor: default;
  .answer-label {
    color: $answer-disabled-label-color;
    background-color: $answer-disabled-label-background-color;
  }
}

.is-disabled.is-selected {
  color: $answer-selected-color;

  .answer-label {
    color: $answer-selected-label-color;
    background-color: $answer-selected-label-background-color;
  }
  svg path + path {
    fill: $answer-selected-label-background-color;
  }
}

.is-disabled.is-correct {
  color: $answer-correct-color;
  .answer-label {
    color: $answer-correct-label-color;
    background-color: $answer-correct-label-background-color;
  }
  svg path + path {
    fill: $answer-correct-label-background-color;
  }
}
