@import '../../vars';
@import '../../common';

.explanation {
  margin-left: 0;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-#{$grout} / 2);
}

.confirm-answer .answers {
  margin-bottom: calc(#{$grout} / 2);
}
