@import '../../vars';

.question.question {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 0;
    font-size: 1.25rem;
    text-transform: none;
    font-weight: normal;
    line-height: 1.2em;
  }
}

.error {
  color: red;
}
