@import '../../vars';

.explanation {
  margin-top: 1em;
  border-left: 4px solid $neutral;
  padding-left: $panel-gutter;
  transition: max-height 1s linear;
  > :last-child {
    margin: 0;
  }
}

.correct {
  border-color: $correct;
}

.incorrect {
  border-color: $incorrect;
}

.appear {
  max-height: 0;
  overflow: hidden;
}

.appear.appear-active {
  max-height: 100vh;
}
