@import '../../vars';

.explanation {
  margin-top: 1em;
  overflow: hidden;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin: 0;
  }
}

.correct {
  border-left: 4px solid $correct;
  padding-left: $panel-gutter;
}

.incorrect {
  border-left: 4px solid $incorrect;
  padding-left: $panel-gutter;
}
