@import './vars';

.btn {
  border-radius: 0;
  border: 1px solid $news-button-fill;
  border: 1px solid var(--button-fill, var(--colour-accent, $news-button-fill));
  text-transform: uppercase;
  font-size: 0.75rem;
  height: 3rem;
  text-align: center;
  min-width: 12.5rem;
  padding: 0 3rem;
  align-self: flex-start;
}

.btn-filled {
  background: $news-button-fill;
  background: var(--button-fill, var(--colour-accent, $news-button-fill));
  color: #000;
  color: var(--button-text, var(--text-accent, #000));

  &:hover,
  &:active {
    background: #9ee9fa;
    background: var(
      --button-active-filled-fill,
      var(--colour-accent-active, #9ee9fa)
    );
    border-color: #9ee9fa;
    border-color: var(
      --button-active-filled-fill,
      var(--colour-accent-active, #9ee9fa)
    );
  }

  &:focus {
    background: #000;
    border-color: var(--button-fill, var(--colour-accent, $news-button-fill));
    background: var(--button-fill, var(--colour-accent, $news-button-fill));
    color: #fff;
  }

  &[disabled] {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
    color: #979797;
  }
}
