$correct: #6dc137;
$incorrect: #db2000;
$neutral: #e6e6e6;
$news-button-fill: rgb(8, 209, 253);
$news-button-fill-active: #9ee9fa;
$news-button-fill-focus: #000;
$news-button-color: #000;
$news-button-color-active: #3c4447;
$news-button-color-focus: #fff;

// The gap between answer 'tiles'
$grout: 0.3125rem;

$transition-duration: 0.2s !default;
$status-width: 150px;
$status-padding: 10px;
$border-radius: 3px;
$breakpoint: 700px;

$panel-gutter: 10px !default;
$panel-background-color: #fff;
$panel-border-color: #eeeeee;
$panel-border-style: solid;
$panel-border-width: 1px;

$quesiton-color: #000;

// Regluar answer variables
$answer-height: 3rem;
$answer-color: rgb(48, 48, 48);
$answer-background-color: rgb(245, 245, 245);

$answer-label-font-size: 1rem;
$answer-label-line-height: 1.5rem;

$answer-label-color: $news-button-color;
$answer-label-background-color: $news-button-fill;

$answer-label-focus-color: $news-button-color-focus;
$answer-label-focus-background-color: $news-button-fill-focus;

$answer-text-line-height: $answer-label-line-height;

// Disabled answer vars
$answer-disabled-color: #979797;
$answer-disabled-label-color: $answer-disabled-color;
$answer-disabled-label-background-color: $neutral;

// Selected answer vars
$answer-selected-color: $incorrect;
$answer-selected-label-color: #fff;
$answer-selected-label-background-color: $incorrect;

// Correct answer vars
$answer-correct-color: #417505;
$answer-correct-label-color: rgb(0, 0, 0);
$answer-correct-label-background-color: $correct;
