@import '../../vars';

.answer.answer {
  display: flex;
  flex-direction: column;
  align-items: normal;
  flex: 1 1 100%;
  font-size: $answer-label-font-size;
  color: $answer-color;
  margin: calc(#{$grout} / 2);
  // cursor: pointer;
  background: $answer-background-color;
  padding: 0 !important;
  border: none;
  text-align: left;

  .icon {
    // transition: opacity 0.2s;
    margin-right: 10px;
    flex: 0 0 auto;
    margin-top: calc((#{$answer-height} - #{$answer-label-line-height}) / 2);
  }

  img {
    display: block;
  }

  .text {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
  }

  svg path + path {
    fill: $answer-disabled-label-color;
  }
}

.image.answer {
  flex: 1 1 40%;
  position: relative;
  @media (max-width: $breakpoint) {
    flex: 1 1 250px;
  }

  .icon {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    padding: 3px;
  }
}

.image-container {
  flex: 0 0 auto;
}

.answer-label {
  transition: background-color $transition-duration, color $transition-duration;
  background-color: $answer-label-background-color;
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 $answer-height;
  display: block;
  line-height: $answer-label-line-height;
  padding-top: calc((#{$answer-height} - #{$answer-label-line-height}) / 2);
  padding-bottom: calc((#{$answer-height} - #{$answer-label-line-height}) / 2);
}

.answer-text {
  line-height: $answer-text-line-height;
  padding-top: calc((#{$answer-height} - #{$answer-text-line-height}) / 2);
  padding-bottom: calc((#{$answer-height} - #{$answer-text-line-height}) / 2);
  padding-left: 1.5rem;
  padding-right: 1rem;
  flex: 1 1 auto;
}

.is-disabled {
  color: $answer-disabled-color;
  cursor: default;
  .answer-label {
    color: $answer-disabled-label-color;
    background-color: $answer-disabled-label-background-color;
  }
}

.is-disabled.is-selected.is-incorrect {
  color: $answer-selected-color;

  .answer-label {
    color: $answer-selected-label-color;
    background-color: $answer-selected-label-background-color;
  }
  svg path + path {
    fill: $answer-selected-label-background-color;
  }
}

.is-disabled.is-selected.is-correct {
  color: $answer-correct-color;
  .answer-label {
    color: $answer-correct-label-color;
    background-color: $answer-correct-label-background-color;
  }
  svg path + path {
    fill: $answer-correct-label-background-color;
  }
}

// .answer:focus {
//   .answer-label {
//     background-color: $answer-label-focus-background-color;
//     color: $answer-label-focus-color;
//   }
// }
